.sec2{
    height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 ;
}
.sec-2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-2-1 > :nth-child(1){
    font-weight: 600;
}
.sec-2-2{
    margin-top: 150px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;

}

.sec-2-2-2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}
.sec-2-2-2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    gap:5px ;
    
}
.box img {
    width: 60px;
}
.box > :nth-child(2){
    font-size: 20px;
    font-weight: 600;
}
.box > :nth-child(3),
.box > :nth-child(4){
    font-size: 17px;
  
    
}
.p1{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
}
@media(max-width:1024px){
    .sec-2-2{
        margin-top: 150px;
    flex-direction: column;
    }
    .sec-2-2-2{
         align-items: center;
}
}
@media(max-width:767px){
    .sec2{
       height:auto;
       padding-top: 20px; 
       padding-bottom: 20px;
    }
    .sec-2-2{
        margin-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .sec-2-2-2{
         align-items: center;
}
.sec-2-2-2-1{
    flex-direction: column;
}
}