* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f3f3f3;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-section {
    padding: 80px 20px;
}

.sub-heading {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.main-heading {
    font-size: 50px;
    color: #07f; 
    font-weight: 700;
    margin-bottom: 50px;
}


.contact-box {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    padding: 25px 50px;
    border: 2px solid #333;
    border-radius: 40px;
    background: #fff;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: #333;
}

.contact-item i {
    font-size: 20px;
    background: #000;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
}

footer {
    padding: 30px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.footer-links a:hover {
    color: #07f;
}

.copyright {
    font-size: 14px;
    color: #333;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    transition: 0.3s ease;
}

.contact-item:hover {
    transform: scale(1.05);
    color: #f59e0b;
}

.contact-item i {
    font-size: 18px;
    background: #000;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #f59e0b;
}

@media (max-width: 600px) {

    .main-heading {
        font-size: 32px;
    }

    .contact-box {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 90%;
    }

    .footer-links {
        gap: 20px;
        font-size: 16px;
    }
}

@media (min-width: 601px) and (max-width: 992px) {

    .main-heading {
        font-size: 40px;
    }

    .contact-box {
        gap: 30px;
        padding: 20px 30px;
    }
}
@media (min-width: 993px) {
    .main-heading {
        font-size: 50px;
    }
}
