@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    padding:0px 100px;
}

.logo{
    width: 40%;
    font-size: 30px;
    font-weight: 600;
    color: #0077ff;
}

.menu-bar{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-bar li {
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

a:hover{
    color: #0077ff;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #0077ff;
}
.navbar-menu{
    display: none;  
}

.hamburger {
    background-color: white;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    position: fixed;
    right: 30px;
    top: 20px;
}

.hamburger i {
    font-size: 35px;
    padding: 4px;
}

.navbar-menu .menu-bar{
    flex-direction: column;
    background-color: white;
    position: fixed;
    right: 0;
    top: 70px;
    padding: 10px;
    gap: 10px;
    border-radius:5px;
    transform: translateX(100%);
    transition: 0.3s ease;
}
.navbar-menu .menu-bar.show{
    transform: translateX(0);
}

.navbar-menu .menu-bar li a {
    display: block;
    background-color: white;
    border-radius:5px;
    padding: 5px;
    font-weight: 600;
}
@media (max-width:1024px){

    .navbar{
        display: none; 
    }

    .navbar-menu{
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding: 0px 20px;
    }
}

html {
    scroll-behavior: smooth;
}
.arrow{
    position: absolute;
    right: 30px;
    bottom: 40px;
    transition: 0.3s;
}

.arrow img{
    width: 40px;
}

.arrow:hover{
    transform: translateY(-5px);
}
.sec2, .sec3, .sec4, .contact-section {
    scroll-margin-top: 80px;
}
.arrow-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transform: rotate(180deg); 
    z-index: 1000;
}
